/* Define CSS classes with different colors */
.navy {
    color: navy;
    font-weight: bold;
}

.green {
    font-weight: bold;
    color: green;
}

.red {
    font-weight: bold;
    color: red;
}

.orange {
    color: orange;
    font-weight: bold;
}

.blue {
    font-weight: bold;
    color: blue;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: green;
    font-weight: bold;
    background-color: #FFE4E1; /* Gold color */
}

p {
    font-weight: bold;
    text-indent: 30px;
}

body {
    font-family: Arial, sans-serif;
    border-style: ridge;
    border-width: 7px;
    border-color: coral;
    padding: 25px
    font-weight: bold;
    background-color:#FFEFD5;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color:coral;
    background-color: #FFE4E1;
    font-weight: bold;
    position: relative;
    animation: mylastmove 5s infinite;
}

@keyframes mylastmove {
  from {background-color: red;}
  to {background-color: blue;}
}

h2 {
    text-align: center;
    color: green;
    background-color: #FFE4E1;
    font-weight: bold;
}