/* Define CSS classes with different colors */
.navy {
    color: navy;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #ffa07a; /* coral color */
}

body {
    font-family: Arial, sans-serif;
    border-style: ridge;
    border-width: 7px;
    border-color: coral;
    padding: 25px
}

h1 {
    color: #00ff00;
}